<div class="quote">
  <div class="body"><%= quote.body %></div>
  <div class="attribution"><span class="speakers">&mdash;<%= render :partial => 'speakers/speakers_list', :locals => { :speakers => quote.speakers } %></span>,
  <span class="context"><%= quote.context %></span></div>
  <div class="date"><%= time_ago_in_words quote.date %> ago</div>
  <div class="flag actions">
    <%= offensive_link(quote) %> <%= spam_link(quote) %>
  </div>
</div>